html,
body,
h1,
p,
a,
ul,
li,
div {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
li{
  list-style: none;
}
body {
    text-align: center;
    color: #333;
    font-size:20px;
}

.header {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.header h1 {
    font-size: 40px;
    text-align: center;
    margin: 10px 0;
}

#restartGameButton,
#newGameButton {
    display: block;
    background-color: #8f7a66;
    height: 60px;
    line-height: 60px;
    width: 160px;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
}

#newgameButton:hover {
    background-color: #9f8b77;
}

.header p {
    font-size: 16px;
    margin: 20px 5px;
    background-color: #bbada0;
    width: 100px;
    text-align: center;
    color: #eee4da;
    border-radius: 5px;
    display: inline-block;
}

.header p span {
    display: block;
    font-size: 25px;
    color: #fff;
}

#grid-container {
    width: 460px;
    height: 460px;
    padding: 20px;
    margin: 5px auto;
    background-color: #bbada0;
    border-radius: 10px;
    position: relative;
}

.grid-cell {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    background-color: #ccc0b3;
    position: absolute;
}

.number-cell {
    border-radius: 6px;
    position: absolute;
    text-align: center;
    font-weight: 900;
    z-index: 999;
}

#info {
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    color: #fff;
    z-index: 99999;
    background: gray;
}

#info .tips {
    font-size: 30px;
    display: block;
    z-index: 999999999;
}

#info .sumScore {
    display: block;
    font-size: 30px;
    margin: 40px 0;
}

#info #restartGameButton {
    color: #fff;
    background-color: #8f7a66;
}
#tips{
  position: fixed;
  right:0px;
  top:0px;
  color:#333;
  text-align: center;
}
.tips-header{
  font-size:22px;
  font-weight: 900;
  margin:15px 0 5px 0;
}
#tips-image{
    display: none;
}
.mobile{
    width: 40px;
    height: 40px;
    position: fixed;
    top:18px;
    right:30px;
}
.mobile>img{
    width: 100%;
    height: 100%;
}
.tips-pc,.tips-mobile,.tips-github,.tips-apk{
    margin-right:20px;
}
#close-tips{
    display: none;
    position: fixed;
    font-size:40px;
    top:10px;
    right:20px;
    width: 40px;
    height: 40px;
    color:#fff;
    z-index: 999999999
}